{% extends 'base.html' %}

{% block content %}
{{super()}}
<h1 class="title" style="text-align: center">Cart</h1>
{% for row in cart %}
<div class="product">
    {% for key, value in row.items() %}
        {% if key == 'photo' %}
            <p><img src="../{{value}}" width="250px" height="250px" alt="There should be image" class="photo"></p>
        {% elif key == 'name' %}
            <h3 class="title_product"><a href={{url_for('product', id_product=row.id)}}>{{value}}</a></h3>
            <form action="{{url_for('profile', login=login)}}" method="POST" class="in_cart">
                <button type="submit" value="{{row.id}}" name="id">Out cart</button>
            </form>
        {% elif key == 'price' %}
            <h4 class="price">{{key}}: {{value}}</h4>
        {% elif key == 'value' %}
            {% for row2 in value_product %}
                {% if row.id == row2.product_id %}
                    <h4 class="value"> | {{row2.value}} ordered</h4>
                {% endif%}
            {% endfor %}
        {% elif key == 'description' %}
            <p class="description">{{value}}</p>

        {% endif %}
    {% endfor %}
</div>
{% endfor %}

<button style="display: block; margin: auto;"><a href="{{url_for('purchase', login=login)}}">Purchase</a></button>
{% endblock %}



{% block page_title %}
    <div class="title">{{title}} ({{role}})
        <a href="{{url_for('logout')}}"><img src="/static/pictures/logout.png" width="72" height="72" alt="Error"></a>
    </div>
{% endblock %}